In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import statsmodels.api as sm

In [5]:
df = pd.read_excel('C:/Users/RUSHI/Day 21/Bank_Personal_Loan_Modelling.xlsx', sheet_name = 'Data')
df.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [6]:
df = df.drop(columns = ['ID', 'ZIP Code'] )
df.drop_duplicates(inplace=True)
df.shape

(4987, 12)

In [9]:
y = df['Personal Loan']
x = df[['Age', 'Experience', 'Income', 'Family', 'CCAvg', 'Education', 'Mortgage', \
        'Securities Account', 'CD Account', 'Online', 'CreditCard']]

In [13]:
X = sm.add_constant(x)
logistic_model = sm.Logit(y,X)

In [14]:
result = logistic_model.fit()

Optimization terminated successfully.
         Current function value: 0.128720
         Iterations 9

In [15]:
result.summary()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:          Personal Loan   No. Observations:                 4987
Model:                          Logit   Df Residuals:                     4975
Method:                           MLE   Df Model:                           11
Date:                Sun, 09 Aug 2020   Pseudo R-squ.:                  0.5936
Time:                        20:20:10   Log-Likelihood:                -641.93
converged:                       True   LL-Null:                       -1579.7
Covariance Type:            nonrobust   LLR p-value:                     0.000
======================================================================================
                         coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------
const                -12.1727      1.645     -7.399      0.000     -15.397      -8.948
Age                   -0.0541      0.061     -0.882      0.378      -0.174       0.066
Experience             0.0642      0.061      1.054      0.292      -0.055       0.184
Income                 0.0545      0.003     20.822      0.000       0.049       0.060
Family                 0.6947      0.074      9.348      0.000       0.549       0.840
CCAvg                  0.1236      0.040      3.117      0.002       0.046       0.201
Education              1.7363      0.115     15.091      0.000       1.511       1.962
Mortgage               0.0005      0.001      0.848      0.396      -0.001       0.002
Securities Account    -0.9371      0.286     -3.280      0.001      -1.497      -0.377
CD Account             3.8181      0.324     11.788      0.000       3.183       4.453
Online                -0.6724      0.157     -4.280      0.000      -0.980      -0.364
CreditCard            -1.1181      0.205     -5.454      0.000      -1.520      -0.716
======================================================================================
"""

# When a bank tends to offer a loan, the following are the important factors:

1.Annual Income of the customer
2.Family size of the customer
3.Education Level. 1: Undergrad; 2: Graduate; 3: Advanced/Professional
4.Does the customer have a certificate of deposit (CD) account with the bank?
5.Does the customer use internet banking facilities?
6.Does the customer use a credit card issued by UniversalBank?
7.The following factors are also significant to some extent:
8.Avg. spending on credit cards per month
9.Does the customer have a securities account in the bank