In [3]:
import pandas as pd

In [11]:
titles = pd.read_csv('C:/Users/RUSHI/Downloads/titles.csv')
cast = pd.read_csv('C:/Users/RUSHI/Downloads/cast.csv')
release = pd.read_csv('C:/Users/RUSHI/Downloads/release_dates.csv')

In [10]:
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

In [13]:
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [14]:
release.head()

                    title  year      country        date
0   #73, Shaanthi Nivaasa  2007        India  2007-06-15
1                   #BKKY  2016     Cambodia  2017-10-12
2                 #Beings  2015      Romania  2015-01-29
3               #Captured  2017          USA  2017-09-05
4  #Ewankosau saranghaeyo  2015  Philippines  2015-01-21

### How many movies are listed in the titles dataframe?

In [17]:
titles['title'].unique().shape

(223828,)

### What are the earliest two films listed in the titles dataframe?

In [19]:
early = titles.sort_values('year')

In [20]:
early.head(2)

                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [22]:
len(titles[titles.title == 'Hamlet'])

20

### How many movies are titled "North by Northwest"?

In [24]:
len(titles[titles.title == 'North by Northwest'])

1

### When was the first movie titled "Hamlet" made?

In [25]:
hamlet=titles[titles.title == 'Hamlet'].sort_values('year')

In [26]:
hamlet.head(1)

        title  year
52521  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [30]:
titles[titles.title == 'Treasure Island'].sort_values('year')

                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

### How many movies were made in the year 1950?

In [32]:
len(titles[titles.year==1950])

1113

### How many movies were made in the year 1960?

In [33]:
len(titles[titles.year==1960])

1549

### How many movies were made from 1950 through 1959?

In [35]:
len(titles[(titles.year >= 1950) & (titles.year <= 1959)])

12934

### In what years has a movie titled "Batman" been released?

In [40]:
titles[titles.title == 'Batman']

         title  year
39349   Batman  1943
240896  Batman  1989

### How many roles were there in the movie "Inception"?

In [42]:
len(cast[cast.title == 'Inception'])

78

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [43]:
ins = cast[cast.title == 'Inception']
ins = ins[ins.n.isnull()]
len(ins)

27

In [44]:
ins = cast[cast.title == 'Inception']
ins = ins[ins.n.notnull()]
len(ins)

51

### But how many roles in the movie "Inception" did receive an "n" value?

In [46]:
a = cast[cast.title == 'Inception']
a = a[a.n.notnull()]
len(a)

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [48]:
a = cast[cast.title == 'North by Northwest']
a = a[a.n.notnull()].sort_values('n')
a

,title,year,name,type,character,n
871426,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3518333,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1457165,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3157232,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
356707,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
3048272,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1695173,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1275337,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2447081,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1811387,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
665768,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2295714,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
464736,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1508344,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
206471,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1384780,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [51]:
cast[(cast.title == 'Sleuth') & (cast.year == 1972)].sort_values('n')

,title,year,name,type,character,n
1705394,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
326773,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
373876,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1465483,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2724553,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1448690,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [53]:
a = cast[(cast.title == 'Sleuth') & (cast.year == 2007)]
a = a[a.n.notnull()].sort_values('n')
a

          title  year           name   type    character    n
326774   Sleuth  2007  Michael Caine  actor       Andrew  1.0
1293634  Sleuth  2007       Jude Law  actor         Milo  2.0
1805907  Sleuth  2007  Harold Pinter  actor  Man on T.V.  3.0

### How many roles were credited in the silent 1921 version of Hamlet?

In [56]:
len(cast[(cast.title == 'Hamlet') & (cast.year == 1921)])

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [59]:
len(cast[(cast.title == 'Hamlet') & (cast.year == 1996)])

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [62]:
len(cast[(cast.title == 'Hamlet')])

342

### How many people have played an "Ophelia"?

In [63]:
len(cast[cast.character == 'Ophelia'])

117

### How many people have played a role called "The Dude"?

In [65]:
len(cast[cast.character == 'The Dude'])

19

### How many people have played a role called "The Stranger"?

In [66]:
len(cast[cast.character == 'The Stranger'])

212

### How many roles has Sidney Poitier played throughout his career?

In [68]:
len(cast[cast.name == 'Sidney Poitier'])

43

### How many roles has Judi Dench played?

In [69]:
len(cast[cast.name == 'Judi Dench'])

55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [71]:
cast[(cast.name == "Cary Grant") & (cast.n == 2) & (cast.year <= 1940)].sort_values('year')

,title,year,name,type,character,n
871418,Madame Butterfly,1932,Cary Grant,actor,Lieutenant B.F. Pinkerton,2.0
871454,The Woman Accused,1933,Cary Grant,actor,Jeffrey Baxter,2.0
871446,The Eagle and the Hawk,1933,Cary Grant,actor,Henry Crocker,2.0
871412,I'm No Angel,1933,Cary Grant,actor,Jack Clayton,2.0
871436,She Done Him Wrong,1933,Cary Grant,actor,Captain Cummings,2.0
871393,Born to Be Bad,1934,Cary Grant,actor,Malcolm Trevor,2.0
871455,Thirty Day Princess,1934,Cary Grant,actor,Porter Madison III,2.0
871440,Sylvia Scarlett,1935,Cary Grant,actor,Jimmy Monkley,2.0
871401,Enter Madame!,1935,Cary Grant,actor,Gerald Fitzgerald,2.0
871465,Wings in the Dark,1935,Cary Grant,actor,Ken Gordon,2.0
871463,Wedding Present,1936,Cary Grant,actor,Charlie Mason,2.0
871464,When You're in Love,1937,Cary Grant,actor,Jimmy Hudson,2.0
871443,The Awful Truth,1937,Cary Grant,actor,Jerry Warriner,2.0
871453,The Toast of New York,1937,Cary Grant,actor,Nick Boyd,2.0
871459,Topper,1937,Cary Grant,actor,George Kerby,2.0
871408,Holiday,1938,Cary Grant,actor,Johnny Case,2.0
871394,Bringing Up Baby,1938,Cary Grant,actor,David,2.0
871413,In Name Only,1939,Cary Grant,actor,Alec Walker,2.0
871423,My Favorite Wife,1940,Cary Grant,actor,Nick Arden,2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [76]:
cast[(cast.name == "Cary Grant") & (cast.n == 1) & (cast.year <= 1940)].sort_values('year')

,title,year,name,type,character,n
871409,Hot Saturday,1932,Cary Grant,actor,Romer Sheffield,1.0
871404,Gambling Ship,1933,Cary Grant,actor,Ace Corbin,1.0
871415,Kiss and Make-Up,1934,Cary Grant,actor,Dr. Maurice Lamar,1.0
871417,Ladies Should Listen,1934,Cary Grant,actor,Julian De Lussac,1.0
871449,The Last Outpost,1935,Cary Grant,actor,Michael Andrews,1.0
871391,Big Brown Eyes,1936,Cary Grant,actor,Danny Barr,1.0
871442,The Amazing Quest of Ernest Bliss,1936,Cary Grant,actor,Ernest Bliss,1.0
871406,Gunga Din,1939,Cary Grant,actor,Cutter,1.0
871431,Only Angels Have Wings,1939,Cary Grant,actor,Geoff Carter,1.0
871407,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
871448,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
871450,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0

### How many roles were available for actors in the 1950s?

In [77]:
len(cast[(cast.type == 'actor') & (cast.year >= 1940) & (cast.year <= 1950)])

179124

### How many roles were available for actresses in the 1950s?

In [78]:
len(cast[(cast.type == 'actresses') & (cast.year >= 1940) & (cast.year <= 1950)])

0

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [90]:
len(cast[(cast.n == 1) & (cast.year<=1980)])

65140

### How many non-leading roles were available through from the beginning of film history through 1980?

In [91]:
len(cast[(cast.n != 1) & (cast.year<=1980)])

1117667

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [89]:
len(cast[(cast.n.isna()) & (cast.year<=1980)])

448347