In [2]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn import preprocessing

from sklearn.ensemble import RandomForestClassifier

In [3]:
df=pd.read_csv("C:/Users/RUSHI/Day 24/general_data.csv")
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [ ]:
df.drop(columns=['EmployeeCount','EmployeeID'],inplace=True)

In [9]:
df.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [12]:
df.mean()

Age                           36.923810
DistanceFromHome               9.192517
Education                      2.912925
JobLevel                       2.063946
MonthlyIncome              65029.312925
NumCompaniesWorked             2.694830
PercentSalaryHike             15.209524
StandardHours                  8.000000
StockOptionLevel               0.793878
TotalWorkingYears             11.279936
TrainingTimesLastYear          2.799320
YearsAtCompany                 7.008163
YearsSinceLastPromotion        2.187755
YearsWithCurrManager           4.123129
dtype: float64

In [15]:
new_Num_Comp_worked =np.where(df["NumCompaniesWorked"].isnull(),3,df["NumCompaniesWorked"])
new_Total_Wrk_Yrs =np.where(df["TotalWorkingYears"].isnull(),11,df["TotalWorkingYears"])
df["NumCompaniesWorked"]=new_Num_Comp_worked
df["TotalWorkingYears"]=new_Total_Wrk_Yrs

In [17]:
objList = df.select_dtypes(include = "object").columns

In [20]:
label_encoder = preprocessing.LabelEncoder()
attrition_encoded = df.apply(label_encoder.fit_transform)

In [21]:
rf_attmodel = RandomForestClassifier(n_estimators=1000,max_features =2,oob_score=True)

In [23]:
features =["Age","BusinessTravel", "Department", "DistanceFromHome", "Education", "EducationField", 
           "Gender", "JobLevel", "JobRole",  "MaritalStatus", "MonthlyIncome", "NumCompaniesWorked", 
           "Over18", "PercentSalaryHike", "StandardHours", "StockOptionLevel",  "TotalWorkingYears", 
           "TrainingTimesLastYear", "YearsAtCompany","YearsSinceLastPromotion", "YearsWithCurrManager"]

In [26]:
rf_attmodel.fit(X=attrition_encoded[features],y=attrition_encoded["Attrition"])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [27]:
print("OOB Accuracy :",rf_attmodel.oob_score_)

OOB Accuracy : 1.0

In [29]:
for feature, imp in zip(features,rf_attmodel.feature_importances_):
    print(feature,imp)

Age 0.09653524709977855
BusinessTravel 0.028078533569070228
Department 0.02642794325586438
DistanceFromHome 0.06965280340733751
Education 0.04113103372267235
EducationField 0.041568475261271075
Gender 0.018206393038476126
JobLevel 0.03823292230628478
JobRole 0.05544699929976576
MaritalStatus 0.03929679064988411
MonthlyIncome 0.09384808028409496
NumCompaniesWorked 0.05629242538229386
Over18 0.0
PercentSalaryHike 0.06508637249968108
StandardHours 0.0
StockOptionLevel 0.03375411880612156
TotalWorkingYears 0.08566475121383473
TrainingTimesLastYear 0.04467359814808294
YearsAtCompany 0.06812159343022028
YearsSinceLastPromotion 0.04299130423902278
YearsWithCurrManager 0.0549906143862429

In [30]:
tree_model =tree.DecisionTreeClassifier(max_depth = 8)

In [32]:
IndVar_Attr =pd.DataFrame([attrition_encoded['Age'],attrition_encoded['MonthlyIncome'],
                           attrition_encoded['TotalWorkingYears'],
                           attrition_encoded['DistanceFromHome'],
                           attrition_encoded['YearsAtCompany'],
                           attrition_encoded['PercentSalaryHike'],
                           attrition_encoded['NumCompaniesWorked'],
                           attrition_encoded['JobRole'],
                           attrition_encoded['YearsWithCurrManager']]).T

In [34]:
tree_model.fit(X=IndVar_Attr,y=attrition_encoded["Attrition"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=8, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [39]:
with open("Attr_Model.dot",'w') as f:
    f=tree.export_graphviz(tree_model,feature_names=["Age",
                                                     "MonthlyIncome","TotalWorkingYears","DistanceFromHome",
                                                     "YearsAtCompany",
                                                     "PercentSalaryHike","NumCompaniesWorked","JobRole",
                                                     "YearsWithCurrManager"],out_file=f);

In [40]:
a="Classification Accuracy with the features  is :", tree_model.score(X=IndVar_Attr,y=attrition_encoded["Attrition"])

In [41]:
a

('Classification Accuracy with the features  is :', 0.9018140589569161)