In [1]:
import pandas as pd
import numpy as np
from sklearn import tree, preprocessing
from sklearn.ensemble import RandomForestClassifier

In [3]:
df=pd.read_excel("Bank_Personal_Loan_Modelling.xlsx",sheet_name="Data")
df.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [4]:
df.drop(columns=['ID','ZIP Code'],inplace=True)

In [7]:
df.isnull().sum()

Age                   0
Experience            0
Income                0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

In [8]:
objList = df.select_dtypes(include = "object").columns
print(objList)

Index([], dtype='object')

In [10]:
rf_bankmodel = RandomForestClassifier(n_estimators=1000,max_features =2,oob_score=True)
features =["Age", "Experience", "Income", "Family", "CCAvg", "Education",
           "Mortgage", 
           "Securities Account", "CD Account", "Online", "CreditCard"]

In [11]:
rf_bankmodel.fit(X=df[features],y=df["Personal Loan"])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [15]:
print("OOB Accuracy :",rf_bankmodel.oob_score_)

OOB Accuracy : 0.9882

In [18]:
for feature, imp in zip(features,rf_bankmodel.feature_importances_):
    print(feature,imp)

Age 0.04558374314363052
Experience 0.044553665357750315
Income 0.343360350099664
Family 0.09882983098105191
CCAvg 0.1849372569142012
Education 0.16073958015813453
Mortgage 0.0437200826907011
Securities Account 0.005635054048988542
CD Account 0.05467403712444292
Online 0.008215696970669118
CreditCard 0.009750702510765812

In [20]:
bank_tree_model =tree.DecisionTreeClassifier(max_depth = 8)

In [22]:
IndVar_Bank =pd.DataFrame([df["Income"],df["CCAvg"],df["Education"],df["Family"]]).T

In [23]:
bank_tree_model.fit(X=IndVar_Bank,y=df["Personal Loan"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=8, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [25]:
with open("Bank_Model.dot",'w') as f:
    f=tree.export_graphviz(bank_tree_model,feature_names=["Income","CCAvg","Education","Family"],out_file=f);

In [27]:
a = "Classification Accuracy with the features  is :",bank_tree_model.score(X=IndVar_Bank,y=df["Personal Loan"])

In [28]:
a

('Classification Accuracy with the features  is :', 0.9956)