# Question 1

#### Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the company name of a given email address. Both user names and company names are composed of letters only.

In [15]:
email = input("Enter your Email Address: ")

x = email.split("@")

y=x[1].split(".")

print("Company name is: "+y[0])

Enter your Email Address: john@google.com
Company name is: google

# Question 2

#### Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma separated sequence after sorting them alphabetically.

In [34]:
x = input("Enter the sequence with comma:")

y = x.split(",")

z = sorted(y)
print(z)

Enter the sequence with comma:without,hello,bag,world
['bag', 'hello', 'without', 'world']

# Question 3

#### Create your own Jupyter Notebook for Sets.

# Sets

### A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.

In [36]:
#Example 

set1 = {"apple", "banana", "cherry"}
print(set1)

{'apple', 'cherry', 'banana'}

# Access Items
### You cannot access items in a set by referring to an index, since sets are unordered the items has no index. But you can loop through the set items using a ___for___ loop, or ask if a specified value is present in a set, by using the ___in___ keyword.

In [37]:
# Example using previous set

for x in set1:
    print(x)

apple
cherry
banana

In [38]:
# Also check whether an element is present in the array or no

print("apple" in set1)

True

# Change Items

### To add one item to a set use the ___add()___ method.

### To add more than one item to a set use the ___update()___ method.

In [45]:
# to add one element 
set2 = {"apple", "banana", "cherry"}

set2.add("mango")

print(set2)

{'apple', 'cherry', 'banana', 'mango'}

In [46]:
# to add multiple elememts

set2.update(["grapes","watermelon"])

print(set2)

{'watermelon', 'apple', 'grapes', 'banana', 'cherry', 'mango'}

# Get the length of the set

### To determine how many items a set has, use the ___len()___ method.

In [47]:
print(len(set2))

6

# Remove Item

### To remove an item in a set, use the ___remove()___, or the ___discard()___ method.

In [51]:
set3 = {'watermelon', 'apple', 'grapes', 'banana', 'cherry', 'mango'}

set3.remove('mango')

print(set3)

# Note: If the item to remove does not exist, remove() will raise an error.

{'watermelon', 'apple', 'grapes', 'banana', 'cherry'}

In [53]:
set4 = {'watermelon', 'apple', 'grapes', 'banana', 'cherry', 'mango'}

set4.discard('mango')

print(set4)

set4.discard('lemon')
print(set4)

{'watermelon', 'apple', 'grapes', 'banana', 'cherry'}
{'watermelon', 'apple', 'grapes', 'banana', 'cherry'}

In [55]:
# Remove the last item by using the pop() method:
# Remember that sets are unordered, so you will not know what item that gets removed.

set5 = {'watermelon', 'apple', 'grapes', 'banana', 'cherry', 'mango'}

x = set5.pop()

print(x)

print(set5)

watermelon
{'apple', 'grapes', 'banana', 'cherry', 'mango'}

# Clear

### The clear() method empties the set:

In [57]:
set6 = {'watermelon', 'apple', 'grapes', 'banana', 'cherry', 'mango'}

set6.clear()

print(set6)

set()

# Delete

### The del keyword will delete the set completely:

In [59]:
set7 = {'watermelon', 'apple', 'grapes', 'banana', 'cherry', 'mango'}

del set7

# print(set7)
# gives error as set is deleted.

# Join Two Sets

### The union() method returns a new set with all items from both sets:

In [61]:
set8 = {"a", "b" , "c"}
set9 = {1, 2, 3}

set10 = set8.union(set9)
print(set10)

# may be placed unordered way

{1, 2, 'b', 3, 'c', 'a'}

In [62]:
# The update() method inserts the items in set2 into set1:

set11 = {"a", "b" , "c"}
set12 = {1, 2, 3}

set11.update(set12)
print(set11)

{1, 2, 'b', 3, 'c', 'a'}

## Both union() and update() will exclude any duplicate items.

# Question 4

In [6]:
seq1=input("Please enter number ranging from 1 to n ")

ru =input("Insert the number of elements missing")
x=len(seq1)
a=seq1.split(" ")

n=len(a)+int(ru)
r=list(range(1,n))

strr=str(r)
strr1=list(rr)

emp=[]
for i in strr1:
    if i not in a:
        emp.append(i)

l2=["[","]",","," "]
for i in emp:
    if i in l2:
        pass
    else:
        print("Missing numbers are "+i)

Please enter number ranging from 1 to n 1 2 5
Insert the number of elements missing2
Missing numbers are 3
Missing numbers are 4

# Question 5

### With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

In [12]:
mylist = input()
mylist1 = mylist.split()
mylist1 = list(dict.fromkeys(mylist1))
print(mylist1)

12 24 35 24
['12', '24', '35']